body{
    /* box-sizing: border-box; */
    /* border: 2px solid rgb(15, 6, 6); */
    text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   /* padding: 0.1vw; */
   /* margin: 0; */
   /* background-color: rgb(250, 231, 170); */
   /* background-image: url("img.jpg"); */
  }
  *{
      text-decoration: none;
  }
  #nav1 a{
      color: white;
      text-decoration: none;
  }
  .hpl a{
    color: rgb(250, 248, 248);
    text-decoration: none;
  }
.navbar{
    /* border: 2px solid red; */
    display: inline-grid;
    grid-template-columns: auto auto  auto;
    justify-content: center;
    padding: 0px;
width: 100%;
background-color: #f7f3f2;
border-radius: 10px;
border-bottom-style: inset;
}
.container{
    /* border: red 2px solid; */text-align: center;
  
}
li{
    /* border: 2px solid red; */
    text-align: center;
  
    
}
.hpl{
    /* border: 1px red solid; */
    display: grid;
    grid-auto-flow: column;
    grid-column-start: 4;
    grid-gap: 1vw;
    padding: 0.5vw;
}
#nav1{
    display:inline;
   /* text-decoration: none; */
   padding: 7px;
   grid-column-start: 1;
   grid-column-end: 3;
   /* justify-content:end; */
   text-align: center;
   font-size: 3vw;
   color: rgb(245, 245, 250);
   background-color: #ff7800e8;
   border-radius: 20px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.44);
}


#nav2{
    display:inline;
    text-decoration: none;
    text-align: center;
    padding: 9px;
    color: rgb(13, 13, 14);
   /* background-color: #ff7800e8; */
   font-size: 2vw;
   background-color: #0e0c00e8;
   border-radius: 30px;
   color: whitesmoke;

}
#nav3{
    display:inline;
    text-decoration: none;
    text-align: center;
    padding: 9px;
    color: rgb(13, 13, 14);
   /* background-color: #ff7800e8 1px solid; */
   font-size: 2vw;
   background-color: #0e0c00e8;
   border-radius: 30px;
   color: whitesmoke;
}
#nav4{
    display:inline;
    text-decoration: none;
    text-align: center;
    padding: 9px;
    color: rgb(13, 13, 14);
   /* background-color: #ff7800e8; */
   font-size: 2vw;
   background-color: #0c0c0be8;
   border-radius: 30px;
   color: whitesmoke;
}
#nav4:hover{
background-color: rgba(248, 28, 28, 0.863);
/* z-index: 2; */
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.44);
}
#nav2:hover{
    /* background-color: rgba(248, 28, 28, 0.863); */
    /* z-index: 2; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.44);
    }
    #nav3:hover{
        /* background-color: rgba(248, 28, 28, 0.863); */
        /* z-index: 2; */
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.44);
        }
        #nav1:hover{
            background-color: #f57a0eef;
            /* z-index: 2; */
            box-shadow:3px 10px 20px 6px rgba(0, 0, 0, 0.44);
            }    
ul{
    /* border: 2px solid red; */
    /* direction: none; */
    display: grid;
    grid-auto-flow: column;
    justify-content:space-between;
    grid-gap: 17vw;
padding: 0.7vw;
margin: 0vw;
min-width: 100%;
}
/* :::::::::::::::::::::::::::::*/
#detail{
    /* border: 2px red solid; */
    height: 17vw;
    
}
.htd{
    /* border: red 2px solid; */
    height: 20vw;
}
.dt{
    /* border: 2px solid red; */
    display: grid;
    justify-content: space-between;
    
    padding: 0px;
    /* grid-template-columns: auto auto auto auto; */
}
.details{
    /* border: 2polx sid red; */
    max-width:50%;
    height: 18vw;
    padding: 1vw;
}
#hello{
    display: inline;
    /* border: 2px solid red; */
    /* grid-column-start: 1;
    grid-column-end: 1; */
    text-align: center;
    padding: 1vw;
    font-size: 3vw;
}
#dti{
    display: grid;
    /* border: 2px red solid; */
    margin: 0px;
    padding: 3px;
    grid-template-columns: auto auto auto ;
    grid-gap:1vw;
    grid-column-start: 4;
    grid-column-end: 5;
    font-size:0.7vw;
    color: rgb(99, 99, 99);
}
#time{
    /* display: inline; */
    /* border: 2px solid red; */
    text-align: center;
}
#date{
    /* display: inline; */
    /* border: 2px solid red; */
    text-align: center;
}

/*::::::::::::::*/

.container2{
    display: grid;
    /* border: 2px solid red; */
    grid-auto-flow: column;
    padding: 1vw;
    margin: auto;
    grid-gap: 1vw;
    height: 15vw;
    
}
.stu{
    /* border: 2px solid red; */
    display: grid;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    border-radius: 2vw;
    
}
#stu{
    /* border: 2px solid red; */
    display: grid;
    text-align: center;
    height: 11vw;
    border-radius: 2vw;
    background-color: white;    font-family: 'Playfair Display', serif;

    font-family: 'Signika', sans-serif;
}
.teac{
    /* border: 2px solid red; */
    display: grid;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}
#teac{
    /* border: 2px solid red; */
    display: grid;
    text-align: center;
    height: 11vw;
    border-radius: 2vw;
    background-color: white;    font-family: 'Playfair Display', serif;

    font-family: 'Signika', sans-serif;

}
.cour{
    /* border: 2px solid red; */
    display: grid;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}
#cour{
    /* border: 2px solid red; */
    display: grid;
    text-align: center;
    height: 11vw;
    border-radius: 2vw;
    background-color: white;    font-family: 'Playfair Display', serif;

    font-family: 'Signika', sans-serif;
}
button{
    /* border: 2px red solid; */
    height: 4vw;
    border-radius:20px ;
    /* text-decoration: steelblue; */
}
span{
    padding: 1.7vw;
}
span a{
    text-transform: none;
    color: black;
}

/*::::::::::::*/
